//импорт шрифта Lexend из Google Fonts API
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

//импорт других стилевых файлов, содержащих переменные и миксины, которые будут использоваться в данном файле.
@import 'base/variables';
@import 'base/mixins';

// мэин стили
* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;     
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: none;
    }
}

::selection {
    color: #fff;
    background-color: black;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/* Подключение стилей заголовков и кнопок */
@import 'blocks/titles/titles';
@import 'blocks/buttons/buttons';

/* Подключение стилей блоков сайта */
@import 'blocks/demo-screen/demo-screen';
@import 'blocks/recommendation/recommendation';