@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}