.demo-screen {
    height: 50vw;
    padding-top: 40px;
    background: url('../images/house_main.png') right top / 50% no-repeat;
    position: relative;
    .blur {
        width: 48vw;
        height: 68vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .navbar {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo {
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            span {
                margin-left: 12px;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                color: $main-blue;
            }
        }
        &__tabs {
            display: flex;
            gap: 25px;
            margin-left: auto;
            height: 34px;
        }
        &__tab {
            padding: 8px 16px; 
            background-color: purple;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 32px;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            text-transform: capitalize;
            color: #F0F3FD;
            cursor: pointer;
            &_list {
                display: flex;
                align-items: center;
                gap: 10px;
                img {
                    width: 10.5px;
                }
            }
        }
        &__sign-up {
            cursor: pointer;
            margin-left: 55px;
            height: 46px;
            background: #D1FAE5;
            border-radius: 32px;
            padding: 12px 24px;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            color: #047857;
            border: none;
        }
    }
    .info {
        margin-top: 100px;
        width: 50%;
        &__title {
            width: 370px;
            span {
                color: #fff;
                text-shadow:
                    -1px -1px 0 $main-blue,
                    1px -1px 0 $main-blue,
                    -1px  1px 0 $main-blue,
                    1px  1px 0 $main-blue;
                font-weight: 600;
                font-size: 38px;
            }
        }
        &__description {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #626687;
            opacity: 0.75;
            margin-top: 24px;
            width: 510px;
        }
        &__search {
            margin-top: 32px;
            width: 510px;
            height: 56px;
            position: relative;
        }
        &__field {
            width: 100%;
            height: 100%;
            border-radius: 28px;
            border: 1px solid #E0E3EB;
            padding: 17px 129px 17px 64px;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: $main-blue;
            outline: none;
            ::placeholder {
                color: $gray-purple;
            }
        }
        &__mark {
            position: absolute;
            top: 17px;
            left: 27px;
        }
        &__btn {
            cursor: pointer;
            position: absolute;
            top: 4px;
            right: 4px;
            width: 109px;
            height: 48px;
            border-radius: 24px;
            padding: 12px 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4px;
            background: $main-green;
            border: none;
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            .icon path {
                fill: #fff;
            }
        }
        &__partnership {
            margin-top: 32px;
        }
        &__partnership-label {
            font-weight: 400;
            font-size: 16px;
            line-height: 32px;
            color: $gray-purple;
        }
        &__partners {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 440px;
            height: 64px;
        }
    }
    .reviews {
        position: absolute;
        bottom: 50px;
        left: calc(50% + 50px);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
        width: 1000px;
        height: 104px;
        &__label {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 24px;
            gap: 16px;
            background-color: #fff;
            box-shadow: 0px 11px 48px rgba(51, 51, 51, 0.06);
            border-radius: 32px;
        }
        &__description {
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            color: #68799F;
        }
    }
}